


# mac
.DS_Store


# output
*.tsv 
!golfplayers.tsv
!features.tsv
*.log
*.csv
!aaagolfplayers.csv 
bin/tadaswift

# Qt Creator
tada-swift.qbs
tada-swift.qbs.user

* noise
*.swp

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
